@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  color: #fff;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #5d5cdf;
  padding: 10px 15px;
  cursor: pointer;
}

section {
  padding: 20px;
}

.app-title {
  padding: 20px;
  border-bottom: 1px solid #cdcfd3;
}

.app-title > h2 {
  font-weight: 700;
  color: #202124;
}

.section-header {
  margin-bottom: 15px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  font-weight: 700;
  font-size: 0.95rem;
  color: #5f6368;
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.folder,
.file-head {
  border: 1px solid #cdcfd3;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
}

.folder-icon > svg,
.file-icon > svg {
  height: 25px;
}

.folder-name,
.file-name {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.72);
  font-size: 0.9rem;
}

.file-head {
  border-radius: 0 0 5px 5px;
  border-top: 0;
}

.file-thumbnail {
  padding-top: 85%;
  width: 100%;
  border: 1px solid #cdcfd3;
  border-bottom: 0;
  border-radius: 7px 7px 0 0;
}
